.cardsBoardContainer {
  width: 100%;
  height:100%;
  height: calc(100% - 45px);
  overflow-x: auto;
  overflow-y: hidden;
  
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}
.cardsBoard {
  width: 100%;
  height:100%;
}

    .cardsBoard:before, .cardsBoard:after {
        content: " ";
        display: table;
    }

    .cardsBoard:after {
        clear: both;
    }

    .cardsBoard:before, .cardsBoard:after {
        content: " ";
        display: table;
    }

    .cardsBoard:after {
        clear: both;
    }

    .cardsBoard:before {
        content: '';
        position: absolute;
        display: block;
        width: 2px;
        /*background: #f5f5f6;*/
        top: 20px;
        bottom: 20px;
        /*margin-left: 18px;*/
    }
    
    .cardsBoard * {
        border-radius: 0px;
    }

    .cardsBoard .cards-entry {
        position: relative;
        /*width: 50%;
        float: right;*/
        width:23%;
        float:left;
        margin: 10px 8px;
      
        -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
        -moz-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
        box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
    }

        .cardsBoard .cards-entry:before, .cardsBoard .cards-entry:after {
            content: " ";
            display: table;
        }

        .cardsBoard .cards-entry:after {
            clear: both;
        }

        .cardsBoard .cards-entry:before, .cardsBoard .cards-entry:after {
            content: " ";
            display: table;
        }

        .cardsBoard .cards-entry:after {
            clear: both;
        }

        .cardsBoard .cards-entry.begin {
            margin-bottom: 0;
        }

        .cardsBoard .cards-entry.left-aligned {
            float: left;
        }

            .cardsBoard .cards-entry.left-aligned .cards-entry-inner {
                margin-left: 0;
                margin-right: -18px;
            }

                .cardsBoard .cards-entry.left-aligned .cards-entry-inner .cards-time {
                    left: auto;
                    right: -100px;
                    text-align: left;
                }

                .cardsBoard .cards-entry.left-aligned .cards-entry-inner .cards-icon {
                    float: right;
                }

                .cardsBoard .cards-entry.left-aligned .cards-entry-inner .cards-label {
                    margin-left: 0;
                    margin-right: 70px;
                }

                    .cardsBoard .cards-entry.left-aligned .cards-entry-inner .cards-label:after {
                        left: auto;
                        right: 0;
                        margin-left: 0;
                        margin-right: -9px;
                        -moz-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }

        .cardsBoard .cards-entry .cards-entry-inner {
            position: relative;
            /*margin-left: -24px;*/
            background: #f5f5f6;
        }

            .cardsBoard .cards-entry .cards-entry-inner:before, .cardsBoard .cards-entry .cards-entry-inner:after {
                content: " ";
                display: table;
            }

            .cardsBoard .cards-entry .cards-entry-inner:after {
                clear: both;
            }

            .cardsBoard .cards-entry .cards-entry-inner:before, .cardsBoard .cards-entry .cards-entry-inner:after {
                content: " ";
                display: table;
            }

            .cardsBoard .cards-entry .cards-entry-inner:after {
                clear: both;
            }

            .cardsBoard .cards-entry .cards-entry-inner .cards-time {
                position: absolute;
                left: -100px;
                text-align: right;
                padding: 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

                .cardsBoard .cards-entry .cards-entry-inner .cards-time > span {
                    display: block;
                }

                    .cardsBoard .cards-entry .cards-entry-inner .cards-time > span:first-child {
                        font-size: 15px;
                        font-weight: bold;
                    }

                    .cardsBoard .cards-entry .cards-entry-inner .cards-time > span:last-child {
                        font-size: 12px;
                    }

            .cardsBoard .cards-entry .cards-entry-inner .cards-icon {
/*                 background: #fff;
                color: #737881; */
                display: block;
/*                 width: 25px;
                height: 25px; */
/*                 -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box; */
/*                 -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px; */
                text-align: left;
/*                 -moz-box-shadow: 0 0 0 4px #f5f5f6;
                -webkit-box-shadow: 0 0 0 4px #f5f5f6;
                box-shadow: 0 0 0 4px #f5f5f6; */
/*                 float: left; */
/*                 margin-top: 6px; */
              position:absolute;
                  left: 5px;bottom: 23px;
            }
            .cardsBoard .cards-entry .cards-entry-inner .card-actions {
                display: block;
                text-align: left;
                /* float: left; */
                /* margin-top: 6px; */
                position: absolute;
                right: 5px;
                bottom: 5px;
            }
            }

                .cardsBoard .cards-entry .cards-entry-inner .cards-icon.bg-primary {
                    background-color: #303641;
                    color: #fff;
                }

                .cardsBoard .cards-entry .cards-entry-inner .cards-icon.bg-secondary {
                    background-color: #ee4749;
                    color: #fff;
                }

                .cardsBoard .cards-entry .cards-entry-inner .cards-icon.bg-success {
                    background-color: #00a651;
                    color: #fff;
                }

                .cardsBoard .cards-entry .cards-entry-inner .cards-icon.bg-info {
                    background-color: #21a9e1;
                    color: #fff;
                }

                .cardsBoard .cards-entry .cards-entry-inner .cards-icon.bg-warning {
                    background-color: #fad839;
                    color: #fff;
                }

                .cardsBoard .cards-entry .cards-entry-inner .cards-icon.bg-danger {
                    background-color: #cc2424;
                    color: #fff;
                }

            .cardsBoard .cards-entry .cards-entry-inner .cards-label {
                position: relative;
                padding: 0.5em;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                min-height: 130px;
                max-height: 130px;
                overflow: auto;
            }

                /*.cardsBoard .cards-entry .cards-entry-inner .cards-label:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 9px 9px 9px 0;
                    border-color: transparent #f5f5f6 transparent transparent;
                    left: 0;
                    top: 10px;
                    margin-left: -9px;
                }*/

                .cardsBoard .cards-entry .cards-entry-inner .cards-label h2, .cardsBoard .cards-entry .cards-entry-inner .cards-label p {
                    color: #737881;
                    font-size: 10px;
                    margin: 0;
                    line-height: 1.428571429;
                }

                    .cardsBoard .cards-entry .cards-entry-inner .cards-label p {
                      max-height: 50px;
                      overflow: hidden;
                      margin-bottom: 5px;
                    }

                    .cardsBoard .cards-entry .cards-entry-inner .cards-label p.all {
                      max-height: non
                    }

                    .cardsBoard .cards-entry .cards-entry-inner .cards-label p + p {
                        margin-top: 15px;
                    }

                    .cardsBoard .cards-entry .cards-entry-inner .cards-label figure {
                      max-height: 150px;
                      overflow: hidden;
                      margin-bottom: 5px;
                    }

                    .cardsBoard .cards-entry .cards-entry-inner .cards-label h2 {
                        font-size: 12px;
                        margin-bottom: 10px;
                    }

                    .cardsBoard .cards-entry .cards-entry-inner .cards-label h2 a {
                        color: #303641;
/*                         cursor: pointer; */
                        font-weight:bold;
                    }

                    .cardsBoard .cards-entry .cards-entry-inner .cards-label h2 span {
                        font-size: 12px;
                    }
                    
                    .cardsBoard .cards-entry .cards-entry-inner .cards-label h2 .label {
                      opacity:1;
                      padding-top: 4px;
                      padding: 5px;
                      border-radius: 45px;
                      margin: -2px;
                    }

                    .cardsBoard .cards-entry .cards-entry-inner .cards-label h3 {
                      font-size: 12px;
                      margin-bottom: 10px;
                      margin-top: -7px;
                      font-weight: bold;
                      color: #777;
                    }


                    .cardsBoard .cards-entry .cards-entry-inner .cards-label blockquote{
                      margin: 0 0 10px;
                    }

                .cardsBoard .cards-entry .cards-entry-inner .avatar {
                    width: 45px;
                    height: 45px;
                    float: left;
                    margin-right: 5px;
                    overflow:hidden;
                }
                .cardsBoard .cards-entry .cards-entry-inner .avatar img {
                        height: 100%;
                        width: auto;
                        max-width: none;
                }
                .cardsBoard .cards-entry .cards-entry-inner .wallphoto {
                        margin-left: -7px;
                        margin-right: -7px;
                        margin-top: -7px;
                }

    .cards-entry .panel-body {
        padding: 0 0 0 0;
        overflow-y: auto;
        height: auto;
        height: calc(100% - 36px);
    }

    .cards-entry .panel-heading {
        cursor: context-menu;
        height: 35px;
        line-height: 22px;
        padding: 8px;
        overflow:hidden;
    }

        .cards-entry .panel-heading i {
            cursor: pointer;
        }
        .cards-entry .panel-heading .count {
            float:right;
        }

    .cards-entry .tags {
        height: 20px;
        overflow: hidden;
        margin-top: 8px;
    }

    .cards-entry .tags .label {
        margin-right: 2px;
        margin-bottom: 5px;
        float:left;
        opacity: 0.5;
    }

    .cards-entry .tags .due_date {
        margin: 0px;
        opacity: 1;
    }

    .cards-entry .acticons {
       
    }
    

    .cards-entry .kicon, .cards-entry .fa, .cards-entry .glyphicon {
        font-size: 16px;
        margin: 2px;
        padding: 2px;
        color: #999;
        cursor: pointer;
    }

    .cards-entry .kicon citie {
      font-size: 11px;
      padding-left: 2px;
      color: #333;
    }

    .cards-entry .kicon.actcmd[actcmd] {
       float:right;
       color: black;
       font-size: 20px;
    }





.cards-entry .panel-heading.blue {
  color: #fff !important;
  text-shadow: #0496BF -1px -1px 0;
  background: rgb(99,178,233);
  background: -moz-linear-gradient(top, rgba(99,178,233,1) 0%, rgba(4,133,193,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,178,233,1)), color-stop(100%,rgba(4,133,193,1)));
  background: -webkit-linear-gradient(top, rgba(99,178,233,1) 0%,rgba(4,133,193,1) 100%);
  background: -o-linear-gradient(top, rgba(99,178,233,1) 0%,rgba(4,133,193,1) 100%);
  background: -ms-linear-gradient(top, rgba(99,178,233,1) 0%,rgba(4,133,193,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b2e9', endColorstr='#0485c1',GradientType=0 );
  background: linear-gradient(top, rgba(99,178,233,1) 0%,rgba(4,133,193,1) 100%);
}




.cardsBoard *::-webkit-scrollbar {
    width: 8px;height: 8px;
}
 
.cardsBoard *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
/*     -webkit-box-shadow: inset 0 0 6px #5A97D4;  */
}
 
.cardsBoard *::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
/*   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}