.reportDataTable {
	padding-top:5px;padding-bottom:5px;width:100%;height:100%;background:black;
	overflow:auto;
}
#chartdata {
	min-width:250px;
	border:2px solid #AAA;
	float:right;
	margin-right:5px;
	font:13px Verdana;
	color:black;
}

#chartdata thead td {
	font-weight:bold;
}
#chartdata td {
	border:0px;
	text-align:center;
}
#chartdata tbody tr td:first-child {
	text-align:left;	
}
#chartdata tbody tr td {
	border-bottom:1px solid #777;
}

#holder {
	height: 480px;
	left: 40%;
	margin: -240px 0 0 -320px;
	position: absolute;
	top: 40%;
	width: 640px;
}

h1.header {
	color:black;
	float:left;
	margin-left:40%;
	text-decoration:underline;
	margin-top:0px;
}
h4.footer {
	color:#AAA;
	position:absolute;
	position:fixed;
	right:50px;
	bottom:0px;
}
