@import url("css/kanban.css");
@import url("css/cards.css");
@import url("css/rcolors.css");

canvas, .report-sidebar {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.reportTable {
    width: 100%;height: 100%;
    overflow: unset;
}
.reportTable h1 {
    border: 0px;
}
/*Toolbar*/
.reportTable .table-tools {
    margin:0px;margin-top: 5px;
	padding-right: 5px;
    margin-bottom: 5px;
}
.reportTable .table-tools .control-primebar {
	height: 35px;
	max-height: 35px;
	/*overflow: hidden;*/
}
.reportTable .table-tools .control-toolbar {
/* 	margin-top: 10px; */
	height: 35px;
	max-height: 35px;
	overflow: hidden;
}
.reportTable .table-tools .control-custombar {
	margin-top: 10px;
}
.reportTable .table-tools .btn {
	outline: none;
	margin-right: 10px;
}
.reportTable .table-tools .btn.btn-notext {
	padding:9px;
}
.reportTable .table-tools select.pivotDropdown {
	width:17%;
	margin-top: 4px !important
}
.reportTable .table-tools .sortOpts {
  margin-top: 4px;
  float: right;
}
.reportTable button {
  outline: none;
	border-radius:0px;
}
.reportTable .table-tools select {
	height: 28px;
  padding: 1px;
}
.reportTable .table-tools .btn .caret {
    float: right;
    margin-top: 25%;
    margin-left: 5px;
    margin-right: -5px;
}
.reportTable .table-tools h1.reportTitle {
	margin: 0px;
	padding: 0px;
	font-size: 20px;
}
.reportTable .table-tools input.searchfield {
	/*width: 150px;
    display: inline-block;*/
    height: 100%;
    padding: 5px;
}
.reportTable .table-tools .open>.dropdown-menu {
    left: auto;
    right: 0px;
}
.reportTable .table-tools .dropdown-menu input[type=checkbox], .reportTable .table-tools .dropdown-menu input[type=radio] {
    margin-right: 5px;
}
.reportTable .table-tools .dropdown-menu label {
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 0px;
    margin-right: 20px;
    width: 100%;
}
.reportTable .table-tools .dropdown-menu label.uicheckbox {
  display: inline;
  margin-right: 0px;
  padding: 3px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  border-radius: 100px !important;
  cursor: pointer;
}
.reportTable .table-tools .dropdown-menu label.uicheckbox.active {
  border: 1px solid #AAA;
}
/*Table Sections*/
.reportTable thead.tableHead {
    background: white;
    border-top: 1px solid #DDD;
}

.reportTable thead.tableFilter {
    /*display: none;*/
    transition: opacity 1s ease-out;
    opacity: 1;
}
.reportTable thead.tableFilter.hidden {
    opacity: 0; 
    display: none;
}

.reportTable tbody.tableSummary {
    /*display: none;*/
    background: white;
}

.reportTable tfoot.tableFoot {
	font-size: 10px;
  background: white;
}


.reportTable thead.tableFilter th {
    font-weight: normal;
    background: transparent;
}
.reportTable thead.tableFilter th.filterCol {
    background: white;
    vertical-align: top !important;
}
.reportTable thead.tableFilter th.filterBlank {
    background: #F9F9F9;
}
.reportTable tfoot.tableFoot select {
    width: 75px;height: 28px;
    margin-right: 5px;
    background: white;
    outline: none;
}
.reportTable tfoot.tableFoot .displayCounter {
  line-height: 26px;
	float:right;
}

/*Misc*/
.reportTable tbody.tableBody .ajaxloading {
	padding: 30px !important;
}
.reportTable hr {
    margin: 7px;
}

/*DataTables*/
table.dataTable {
    font-weight: normal;
    font-size: 12px;
    margin-top: 5px;
}

table.dataTable>thead>tr>th {
	background: white;
	cursor: pointer;
	border-bottom:0px;border-right: 1px solid #AAA;
	white-space: nowrap;
	padding-right: 25px !important;
}

table.dataTable thead.tableFilter td, table.dataTable thead.tableFilter th {
    padding: 2px !important;
}

table.dataTable td.rowSelector.action,table.dataTable th.rowSelector.action {
    text-align:center;
    vertical-align:center;
}
table.dataTable td.actionCol,table.dataTable th.actionCol {
    text-align:right;
    vertical-align:center;
		min-width:100px;
}
table.dataTable td.actionCol i,table.dataTable th.actionCol i {
    font-size: 15px;
    margin-right: 5px;margin-left: 5px;
    cursor: pointer;
}
table.dataTable thead input, table.dataTable thead select {
    width: 100%;height: 25px;
    border: 0px;
    background: transparent;
    min-width: auto;
    outline: 0px;
    font-weight: normal;
}
table.dataTable thead input[type=checkbox],table.dataTable thead input[type=radio],
    table.dataTable tbody input[type=checkbox],table.dataTable tbody input[type=radio] {
    width: 15px;height: 15px;
    border: 1px solid #E9E9E9;
    margin:auto;
}
table.dataTable tbody pre {
	max-width: 300px;
  max-height: 200px;
}
table.dataTable tfoot td {
    background: #FFF;
    padding: 5px !important;
    padding-bottom: 0px !important;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
		background: 0 0;
		float: right;
		margin-right: -17px;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
    color: black;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
    color: black;
}

table.dataTable thead th .ui-resizable-handle.ui-resizable-e {
  font-size: 15px;
  margin-right: 5px;
  float: right;
  margin-top: 0px;
}

table.dataTable thead th .ui-resizable-handle.ui-resizable-e:after {
    content: "\f07e";
    float: right;
    font-family: fontawesome;
    color: black;
}

/*Column Formatter*/
table.dataTable tbody td.currency,
    table.dataTable tbody td.decimal {
    text-align: right;
}
table.dataTable tbody td.number {
    text-align: center;
}
table.dataTable tbody td.date {
	white-space: nowrap;
}
table.dataTable tbody td.moreContent,
	table.dataTable tbody td.embed,
	table.dataTable tbody td.pointerCursor {
	cursor:pointer;
}
table.dataTable tbody td.checkboxes {
    text-align: center;
}
table.dataTable tbody td.imagebox {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
table.dataTable .image-inline {
	max-width: 50px;
	max-height: 50px;
	text-align: center;
	margin: 0px;
	display: inline-block;
	overflow: hidden;
}
table.dataTable .image-avatar {
	width: 24px;
	height: 24px;
	text-align: center;
	margin: 0px;
	display: inline-table;
}


.report-sidebar-container {

}
.report-main-container {
    overflow: auto;
}

.grab {
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.grabbing {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.badgeIcon:after {
    content: " ";
    position: absolute;
    background: #333;
    height: 5px;
    top: -4px;
    right: -8px;
    width: 5px;
    border-radius: 50%;
    color: white;
    border: 1px solid #333;
}


.report-sidebar {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-bottom: 0px;
    border-right: 1px solid #DEDEDE;
}
.report-sidebar .list-group-item {
    overflow: hidden;
    border-right: 0px;
    padding-left: 25px;
    cursor: pointer;
}

.report-sidebar .panel-body .list-group, .report-sidebar .panel {
    margin-bottom: 0px;
    border-bottom: 0px;
}

.report-sidebar .panel-body .list-group {
    
}
.report-sidebar .panel-heading {
    padding-left: 21px;
    font-weight: bold;
}

.report-sidebar .fa-panel-status:before {
    content: "\f078";
}

.report-sidebar .fa-panel-status {
    content: "\f077";
}

.chartArea {
    height:250px;
    padding-right: 20px !important;
    text-align: center;
}
.chartArea .reportChartCanvas {
    width: 100%;height: 100%;
}


.nopadding {
    padding: 0px;
}
.onlyprint {
    display: none !important;
}

@media print
{    
    .noprint, .noprint *
    {
        display: none !important;
    }
    .onlyprint
    {
        display: inline !important;
    }

    table.dataTable {
        border:1px solid #AAA;
    }

    table.dataTable tbody td {
        border-right: 1px solid #AAA;
    }
}
